:root {
    --main-bg: #000c16;
    --bg-alt: #000a12;
    --modal-bg: #001120;
    --border: #000408;
    --underline: #606060;
    --focus-text: #fff;
    --main-text: #d8d8d8;
    --nav-hover-bg: #00192e;
    --highlight-gradiant: linear-gradient(60deg, #FBAE3C, #FA9845, #E9705A, #C55469, #96446E, #623965);
    --browser-highlight: #E9705A;
    --link-color: #E9705A;
    --link-hover: #E5573D;
    --slider-unselected-bg: #ccc;
    --slider-selected-bg: #E9705A;
}