:root {
    --main-bg: #fff;
    --bg-alt: #e1e1e1;
    --modal-bg: #fff;
    --border: #000;
    --underline: var(--border);
    --focus-text: #000;
    --main-text: #000;
    --subtext: #000;
    --nav-hover-bg: #d8d8d8;
    --highlight-gradiant: linear-gradient(60deg, #FBAE3C, #FA9845, #E9705A, #C55469, #96446E, #623965);
    --browser-highlight: #000;
    --link-color: #C55469;
    --link-hover: #B23C52;
    --slider-unselected-bg: #ccc;
    --slider-selected-bg: #C55469;
    --shadow: drop-shadow(0px 3px 8px rgba(0, 0, 0, 0.25));
}