:root {
    --main-bg: #fff;
    --focus-text: #000;
    --main-text: #262626;
    --nav-hover-bg: #d8d8d8;
    --highlight-gradiant: linear-gradient(60deg, #FBAE3C, #FA9845, #E9705A, #C55469, #96446E, #623965);
}

@media (prefers-color-scheme: dark) {
    :root {
        --main-bg: #000c16;
        --focus-text: #fff;
        --main-text: #d8d8d8;
        --nav-hover-bg: #00192e;
        --highlight-gradiant: linear-gradient(60deg, #FBAE3C, #FA9845, #E9705A, #C55469, #96446E, #623965);
    }
}